<app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</app-calendar-header>
<mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [cellTemplate]="cellTemplate" (dayClicked)="viewDateChange.next($event.day.date)">
</mwl-calendar-month-view>

<div *ngIf="loading$ | async"><h1>TEST</h1></div>

<!-- custom tpl for month view -->
<ng-template #cellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
        >{{ day.badgeTotal }}</span
      > -->
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
    <!-- <small style="margin: 5px"
      >There are {{ day.events.length }} events on this day</small
    > -->
  </ng-template>