/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

@import "../node_modules/angular-calendar/scss/angular-calendar.scss";

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px; 
}

// month calendar styles
.cal-month-view .cal-day-cell.cal-today .cal-day-number  {
  font-size: 1.2em !important;
}

.cal-day-selected {
  background-color: #cccccc !important;
}

.cal-cell-top {
  max-height: 50px !important;
  min-height: 50px !important;
  height: 50px !important;
}

.cal-month-view .cal-day-cell {
  min-height: 50px !important;
}

.cal-day-badge {
  width: 10px;
  height: 10px;
  opacity: 0.7;
}

.cal-month-view .cal-day-number {
  float: none !important;
  margin-right: 0px !important;
}
